.about {
    @extend %section;
}

.about__list {
    @extend %card-set;
}

.about__item {
    @extend %card-set__item;
}

.about__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
}

.about__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
}