.filter {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.filter__btn {
    display: inline-block;
    border-radius: 4px;
    border: 0;
    padding: 6px 22px;

    text-align: center;

    color: var(--title-text-color);
    background-color: var(--button-grey-color);
    cursor: pointer;

    min-height: 38px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26px / 16px);

    transition: color var(--animation-function), background-color var(--animation-function), filter var(--animation-function);

&:hover,
&:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
}