.footer__form-group {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-left: 93px;
}

.footer__form {
    display: flex;
    gap: 12px;
}

.footer__field {
    width: 358px;
    height: 50px;
    padding: 15px 16px;

    outline: unset;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   
    transition: border-color var(--animation-function);

&:focus {
    border-color: var(--accent-color);
}

&::placeholder {
    color: rgba(255, 255, 255, 0.6);

    font-size: 16;
}
}

.footer__icon {
    position: absolute;
    top: 13px;
    right: 28px;
}

.footer__field--color {
    -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
}