.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__list {
    display: flex;
    gap: 50px;
}

.nav__link {
    @extend %link;

    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--animation-function);


&:hover,
&:focus {
    color: var(--accent-color);
}
&--current {
    color: var(--accent-color);
}
&--current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;

    display: block;
    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;
}
}