.permanent-clients {
@extend %section;
}
.permanent-clients__list {
    @extend %card-set;

    &--amount {
         --items: 6;
        }
}
.permanent-clients__item {
    @extend %card-set__item;
}

.permanent-clients__link {
    @extend %link;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;

    color: rgba(175, 177, 184, 1);
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: color var(--animation-function), border-color var(--animation-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
}

.permanent-clients__icon {
    fill: currentColor;
}

