.projects {
@extend %card-set;
}

.projects__item {
    @extend %card-set__item;

    transition: box-shadow var(--animation-function);

    &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
}

.projects__link {
    @extend %link;


}

.projects__content {
    padding: 20px 24px;
    max-width: 370px;
    border: 1px solid #eeeeee;
    border-top: none;
}

.projects__title {
    margin-bottom: 4px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects__text {
    font-size: 16px;
    line-height: 1.88;
}

.projects__thumb {
    position: relative;
    overflow: hidden;
}

.overflow {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);
    transition: transform var(--animation-function);

    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
}

.overflow__text {

    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;

    color: var(--primary-white-color);
}
.projects__link:hover .overflow,
.projects__link:focus .overflow {
    transform: translateY(0);

}